/*
* Copyright, Marco Sousa
* www.immarco.com
* @h1brd
*/

/* Typography */
h1,h1,h2,p,a { font-family: 'Raleway', Arial, serif; color: #0a0f24; font-size: 22px;}
p { line-height: 32px;margin-bottom: 20px;font-weight: 300;}
h1 { font-weight: 700; margin-bottom: 0px; font-size: 44pt;color: #fff;}
h2,h3 { margin-top: 40px;color: #FCE3CA;}
a { text-decoration: none;  color: #776fa5; font-size: inherit;}
a:hover { color: #fd90a5;border-bottom: 1px solid #fd90a5;}
#footer p {font-size: 16px;}
#job-title {color: #fff;margin-bottom: 60pt;}
#socials {display: block; font-size: 16px; margin-bottom: 20pt;}

/* Structure */
#header {
  background-color: #0a0f24;
  margin: 0;
  padding: 10% 10% 3% 10%;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
  position: relative;
}
body {width: auto; background-color:#fff;}
#main {padding: 0 10%; margin-top: 40pt; max-width: 960px;}
#design-examples li div img {width: 50%;display:block;}
ul, ol {display:inline; padding:0; margin:0;}
li {display:inline-block; padding:none; margin:0 8pt 0 0;}
footer {margin-top: 60px;padding: 0 10%;}
