@import url('https://fonts.googleapis.com/css?family=Mada:700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body{
  font-family: 'Work Sans', sans-serif;
  background-color: #E3E6E9;
  font-size:14px;
  font-weight: 400;
  overflow-y:scroll;
  -webkit-font-smoothing: antialiased;
}

::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}

	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}

p{
  font-family: 'Work Sans', sans-serif;
  font-size: 12pt;
  line-height: 18pt;
  margin-top: 20pt;
  color: #777;
}

a{
  text-decoration:none;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
  color: #405A93;
  font-weight: bold;
}

a:focus {
  text-decoration: underline;
}

h1{
  font-family: 'Mada', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  letter-spacing: .011em;
}

h2{
  font-size: 12pt;
  margin-top: 4pt;
  color: #444;
}

h3{
  font-size: 12pt;
  margin-top: 4pt;
  color: #444;
}
ul li{
  margin-top: 6pt;
}

/*
Main Content
*/

.content{
  width: 30%;
  min-width: 340px;
  margin: 120pt 40pt 60pt;
  display: block;
  float: left;
}

.image{
    width: 54%;
    height: 100vh;
    min-height: 400px;
    position: relative;
    float: right;
}

.imageHolder{
    height: 100%;
    position:relative;
    background: url("../img/MarcoSousa.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width:880px)  {
  .image{
      width: 100%;
      height: 100vh;
      min-height: 400px;
      float: left;
  }
  .content{
    margin: 60pt 30pt 60pt;
  }
}
