/*
* Copyright, Marco Sousa
* www.immarco.com
* @h1brd
*/

/* Typography */
h1,h1,h2,p,li,a { font-family: 'Lato', Arial, serif; color: #666;font-size: 22px;}
p { line-height: 32px;margin-bottom: 20px;font-weight: 300}
h1 { font-weight: 700; color: #222; margin-bottom: 40px; font-size: 32px;}
h2 { color: #222; margin-top: 40px; }
a {color: #222; text-decoration: none; border-bottom: 1px solid #222;}
a:hover {color: #7E879C; border-bottom: 1px solid #7E879C;}

/* Structure */
body {width: auto; margin: 160px;}
footer { margin-top: 60px;}
