.experimental {
  color : #ba62df;
}

.experimental .dot {
  background : #ba62df;
}

.in-use {
  color : #30b458;
}

.in-use .dot {
  background : #30b458;
}

.usable {
  color : #ff8e32;
}

.usable .dot {
  background : #ff8e32;
}

.backlog {
  color : #CCCCCC;
}
