@font-face {
    font-family: 'apercubold';
    src: url('../fonts/apercu_bold-webfont.eot');
    src: url('../fonts/apercu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_bold-webfont.woff2') format('woff2'),
         url('../fonts/apercu_bold-webfont.woff') format('woff'),
         url('../fonts/apercu_bold-webfont.ttf') format('truetype'),
         url('../fonts/apercu_bold-webfont.svg#apercubold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'apercuregular';
    src: url('../fonts/apercu_regular-webfont.eot');
    src: url('../fonts/apercu_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_regular-webfont.woff2') format('woff2'),
         url('../fonts/apercu_regular-webfont.woff') format('woff'),
         url('../fonts/apercu_regular-webfont.ttf') format('truetype'),
         url('../fonts/apercu_regular-webfont.svg#apercuregular') format('svg');
    font-weight: normal;
    font-style: normal;

}