#key {
  border-top   : 1px solid #ebebeb;
  border-right : 1px solid #ebebeb;
  position     : fixed;
  width        : inherit;
  bottom       : 0;
  left         : 0;
  background   : #fff;
}

#key h3 {
  position : relative;
}

#key li {
  font-family : 'NJFont-Medium';
}

.help {
  position : absolute;
  right    : 24px;
  cursor   : pointer;
}