#logo {
  padding    : 40px 24px 37px 24px;
  text-align : center;
}

#logo img {
  margin-bottom : 14px;
}

#logo h3 {
  margin  : 0;
  padding : 0;
}

#logo h4 {
  opacity : .5;
  filter  : alpha(opacity=50);
}